aniso8601==7.0.0
antlr4-python3-runtime==4.7.2
Flask==2.0.3
Flask-Cors==3.0.10
Flask-GraphQL==2.0.1
geojson==2.5.0
graphene==2.1.9
graphene-sqlalchemy==2.1.2
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
promise==2.3
pydantic==1.9.1
Rx==1.6.1
singledispatch==3.7.0
Werkzeug==2.0.3
-e git+https://github.com/Amsterdam/flask-audit-log.git@v0.1.0a-rc1#egg=datapunt-flask-audit-log
-e git+https://github.com/Amsterdam/GOB-Core.git@v1.3.2#egg=gobcore
